<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Titulos</h1>
<ul>
    <% movies.forEach(movie => { %>
        <% if(movie.genres) { %>       
   <a href="/movies/detail/<%= movie.id %>"> <li><%= movie.title %> - <strong>Genero :</strong><%= movie.genres.name %> </li></a>
   <% } %>
   <%  }) %>
</ul>

<h3><a href="/movies/create">AGREGA TU PELICULA FAVORITA</a></h3>


</body>
</html>
        
   